.container {
    width: 80%; 
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 0 10px;
    column-count: 3;
}

label{
    display: flex;
}

input{
    display: flex;
    align: center;
    width: 50%;
}

.botao{
    width: 35%;
    column-count: 2;
}
